@font-face {
  font-family: "iconfont"; /* Project id 4006123 */
  src: url("iconfont.woff2?t=1681441885142") format("woff2"),
    url("iconfont.woff?t=1681441885142") format("woff"),
    url("iconfont.ttf?t=1681441885142") format("truetype");
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fenxibaogao:before {
  content: "\e6f5";
}

.icon-tuli:before {
  content: "\e6e4";
}

.icon-diqiu:before {
  content: "\e6e5";
}

.icon-a-shuaxin201:before {
  content: "\e6f3";
}

.icon-a-shuaxin301:before {
  content: "\e6f4";
}

.icon-a-wenduji1:before {
  content: "\e6f2";
}

.icon-cemianji:before {
  content: "\e6db";
}

.icon-a-feng1:before {
  content: "\e6dc";
}

.icon-a-juanlian1:before {
  content: "\e6dd";
}

.icon-fangda:before {
  content: "\e6de";
}

.icon-sousuo:before {
  content: "\e6df";
}

.icon-a-tuichu1:before {
  content: "\e6e0";
}

.icon-taifengjiance:before {
  content: "\e6e1";
}

.icon-a-paixu1:before {
  content: "\e6e2";
}

.icon-manyou:before {
  content: "\e6e3";
}

.icon-a-yanzhengma1:before {
  content: "\e6e6";
}

.icon-fangxiao:before {
  content: "\e6e7";
}

.icon-a-qingsao11:before {
  content: "\e6e8";
}

.icon-shujucaozuoyuan:before {
  content: "\e6e9";
}

.icon-shezhi:before {
  content: "\e6ea";
}

.icon-yangzhiyonghai:before {
  content: "\e6eb";
}

.icon-zhanghao:before {
  content: "\e6ec";
}

.icon-shujuleixing:before {
  content: "\e6ed";
}

.icon-zuobiao:before {
  content: "\e6ee";
}

.icon-chengzaiti:before {
  content: "\e6ef";
}

.icon-yanhai:before {
  content: "\e6f0";
}

.icon-suofang:before {
  content: "\e6f1";
}
